{% extends 'FrontBundle:Layout:skeleton.html.twig' %}

{% block title %}Les bars à {{ app.request.get('cityName') }}{% endblock %}

{% block javascript %}
    <script src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="{{ asset('/components/gmaps/gmaps.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/front/js/search.js') }}"></script>

    {% if results.getCurrentPageResults() %}
    <script>


        var lat = {{ results.getCurrentPageResults()[0].latitude }},
            lng = {{ results.getCurrentPageResults()[0].longitude }};

        $(document).ready(function() {
            Search.init(lat, lng);

            {% for institution in results %}
                Search.addMarker(
                    '{{ institution.latitude }}',
                    '{{ institution.longitude }}',
                    '{{ institution.name }}',
                    '{{ institution.id }}'
                );
            {% endfor %}

            Search.setBounds();
        });
    </script>
    {% endif %}

{% endblock %}


{% block bodyClass %}search-page{% endblock %}

{% block wrapper %}

    <div class="row-fluid row-fluid-search">
        <div class="col-md-6 col-gmaps">
            <div id="gmaps-container">
                <div id="gmaps"></div>
            </div>

        </div>
        <div class="col-md-6">
            <h1>
                {% if level == 'city' %}
                    Les bars à {{ location.name }} - ({{ location.postalCode }})
                {% endif %}
            </h1>

            <div class="row-filter">
                <ol class="breadcrumb" style="margin-bottom: 5px;">

                    <li><a href="{{ path('homepage') }}">Le comptoir</a></li>

                    {% if level == 'city' %}
                        <li><a href="#">{{ location.getRegionName() }}</a></li>
                        {% if location.getDepartmentName() %}<li><a href="#">{{ location.getDepartmentName() }}</a></li>{% endif %}
                        <li class="active">{{ location.name }}</li>
                    {% endif %}
                </ol>
            </div>



            <div class="row row-filter">
                <div class="col-sm-8">
                    <p class="text-lg-left">
                        {% if level == 'city' %}
                            <b>{{ results.getNbResults() }}</b> bar(s) à {{ location.name }} - ({{ location.postalCode }})
                        {% endif %}
                    </p>

                </div>
                <div class="col-sm-4">
                    <fieldset class="form-group">
                        <select class="form-control" id="exampleSelect1">
                            <option selected>Les mieux notés</option>
                            <option>Les plus récents</option>
                            <option>Avec le plus d'avis</option>
                        </select>
                    </fieldset>
                </div>
            </div>




            <div class="row row-item-card">
                <div class="col-md-12 search-item-card">
                    <div class="row">
                        {% for institution in results %}
                        <div class="col-md-6 col-lg-6" id="bar-{{ institution.id }}">
                            <div class="card">
                                <img class="card-img-top" src="https://mdemontalivet.files.wordpress.com/2008/05/barhemingwayritz.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">{{ institution.name }}</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">J'ai soif</a>
                                </div>
                            </div>
                        </div>

                        {% if (loop.index%2) == 0 %}
                    </div><div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="pagerfanta">
                {{ pagerfanta(results, 'twitter_bootstrap3') }}
            </div>
        </div>
    </div>

{% endblock %}
